<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>ServletConnector</servlet-name>
		<servlet-class>webBoltOns.ServletConnector</servlet-class>
		<init-param>
			<!-- ConfigFile1.XML location for screens & menus-->
			<param-name>configHome</param-name>
			<param-value>/home/pjones/Projects/JavaProjects/WebKeepass/jakarta-tomcat-5.5.7/webapps/ROOT/WEB-INF/</param-value>
			 
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>ReportWriter</servlet-name>
		<servlet-class>webBoltOns.ReportWriter</servlet-class>
		<init-param>
			<param-name>configHome</param-name>
			<param-value>/home/pjones/Projects/JavaProjects/WebKeepass/jakarta-tomcat-5.5.7/webapps/ROOT/WEB-INF/</param-value>

		</init-param>
	</servlet>


	<servlet-mapping>
		<servlet-name>ServletConnector</servlet-name>
		<url-pattern>/ServletConnector</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportWriter</servlet-name>
		<url-pattern>/ReportWriter</url-pattern>
	</servlet-mapping>

</web-app>
